#blogPostHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#blogPostHead section:first-of-type {
    width: 40%;
}

#blogPostHead section:last-of-type {
    width: 50%;
}

#blogPostHead img {
    width: 100%;
    border-radius: 25px;
    border: 2px solid #e85d04;
}

#blogPostBody {
    text-align: justify;
}

/*
Tablet size
*/
@media screen and (max-width:768px) {
    #blogPostHead {
        flex-direction: column;
        align-items: center;
        font-size: 15px;
    }

    #blogPostHead section:first-of-type {
        width: 80%;
        margin: 20px 0px;
        text-align: center;
    }

    #blogPostHead section:last-of-type {
        width: 80%;
    }

    #blogPostHead img {
        width: 100%;
    }

    #blogPostBody {
        font-size: 15px;
    }
}

@media screen and (max-width:700px) {
    #blogsHeader {
        margin-top: 50px;
    }
}

@media screen and (max-width:460px) {
    #blogPostHead {
        font-size: 12px;
    }
    
    #blogPostHead section:first-of-type {
        margin: 40px 0px;
    }
    
    #blogPostBody {
        font-size: 10px;
    }
}
