body {
    background-color: #393a41;
    font-family: Verdana, sans-serif;
    color: #e9ecef;
    background-image: url("../images/jeremy-bishop-8xznAGy4HcY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

/*
Contains the main content that is sandwiched by the navigation and footer bars
*/
#container {
    padding: 10%;
}

.orange {
    color: #e85d04;
}

.yellow {
    color: #ffb703;
}

#navBar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #2F2F2F;
    border-bottom: 2px solid #e85d04;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

#navBar > section {
    flex: 1;
    height: 50px;
    
}

/*
Header name in the top navigation bar
*/
#myName {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #e85d04;
    margin-top: 10px;
    position: relative;
}

#myName span{
    position: absolute;
    left: 20%;
}

#myName a:link {
    color: #e85d04;
    text-decoration: none;
}

#myName a:visited {
    color: #e85d04;
}

#myName a:hover {
    color: #ffb703;
}

/*
Page links in the top navigation bar
*/
#links {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menuItem {
    width: 25%;
    font-size: 20px;
    color: #e9ecef;
}

.menuItem a:link {
    color: #e9ecef;
    text-decoration: none;
}

.menuItem a:visited {
    color: #e9ecef;
}

.menuItem a:hover {
    color: #ffb703;
}

#footer {
    background-color: #2F2F2F;
    border-top: 2px solid #e85d04;
    position: fixed;
    height: 60px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer img {
    margin-right: 40px;
}

#footer span {
    margin-left: 40px;
    font-size: 15px;
}

#githubIcon {
    width: 25px;
}

#linkedinIcon {
    width: 90px;
}

/*
Tablet size
*/
@media screen and (max-width:768px) {
    #navBar {
        /*Move the page links below the header name*/
        flex-direction: column;
    }

    #navBar > section {
        height: 30px;  
    }

    /*
    Header name in the top navigation bar
    */
    #myName {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #myName span{
        position: static;
    }

    /*
    Page links in the top navigation bar
    */
    #links {
        margin-top: 10px;
        justify-content: space-around;
    }

    .menuItem {
        box-sizing: border-box;
        width: 20%;
        font-size: 15px;
        text-align: center;
    }

    #footer {
        height: 40px;
    }

    #footer img {
        margin-right: 20px;
        margin-top: 5px;
    }
    
    #footer span {
        margin-left: 20px;
        font-size: 10px;
    }

    #githubIcon {
        width: 15px;
    }

    #linkedinIcon {
        width: 60px;
    }
}

@media screen and (max-width:460px) {
    #footer img {
        margin-right: 10px;
    }
    
    #footer span {
        margin-left: 10px;
    }
}

/*
Mobile size
*/
@media screen and (max-width:425px) {
    #navBar > section {
        height: 30px;  
    }

    #links {
        margin-top: 5px;
    }

    .menuItem {
        width: 25%;
        padding-left: 15px;
        font-size: 11px;
    }

    /*
    Remove the email section to fit the github and linkedin links properly
    */
    #footer section:first-of-type {
        display: none;
    }

    /*
    Let the github and linkedin links share the whole footer
    */
    #footer section:last-of-type {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
