.centerBox {
    color: #e9ecef;
    font-weight: bold;
    border: 3px solid #e9ecef;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
}

/*
Mobile size
*/
@media screen and (max-width:425px) {
    .centerBox {
        border: 1px solid #e9ecef;
        width: 80%;
        padding: 10px;
        font-size: 12px;
    }
}
