#pet {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

#pet div {
    text-align: center;
}

#pet img {
    width: 60%;
    border-radius: 25px;
    border: 2px solid #e85d04;
}

@media screen and (max-width:800px) {
    #pet {
        margin-top: 60px;
    }

    #pet img {
        width: 80%;
    }
}

@media screen and (max-width:410px) {
    #pet {
        font-size: 8px;
    }

    #pet img {
        width: 100%;
    }
}
