body {
    background-color: #393a41;
    font-family: Verdana, sans-serif;
    color: #e9ecef;
}

#bgImage {
    background-image: url("jeremy-bishop-8xznAGy4HcY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.centerBox {
    color: #e9ecef;
    font-weight: bold;
    border: 3px solid #e9ecef;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.orange {
    color: #e85d04;
}

.yellow {
    color: #ffb703;
}

#navBar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #2F2F2F;
    border-bottom: 2px solid #e85d04;
    display: flex;
    flex-direction: row;
}

#navBar div {
    flex: 25%;
    height: 50px;
    text-align: center;
}

#myName {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #e85d04;
    margin-top: 10px;
    margin-left: -100px;
}

#myName a:link {
    color: #e85d04;
    text-decoration: none;
}

#myName a:visited {
    color: #e85d04;
}

#myName a:hover {
    color: #ffb703;
}

#links {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.menuItem {
    font-size: 20px;
    color: #e9ecef;
}

.menuItem a:link {
    color: #e9ecef;
    text-decoration: none;
}

.menuItem a:visited {
    color: #e9ecef;
}

.menuItem a:hover {
    color: #ffb703;
}

#container {
    padding: 100px 120px;
}

#firstAboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#firstAboutMe div {
    flex: 25%;
}

#profilePicture {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    margin: 20px 0px 20px 100px;
}

#secondAboutMe {
    background-color: #2F2F2F;
}

#secondAboutMe div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#thirdAboutMe {
    margin-top: 60px;
}

#thirdAboutMe > div {
    margin-top: 40px;
}

#experience span {
    font-size: 25px;
    margin-right: 20px;
}

#experience a {
    font-size: 20px;
}

#experience a:link {
    color: #e9ecef;
    text-decoration: none;
}

#experience a:visited {
    color: #e9ecef;
}

#experience a:hover {
    color: #ffb703;
}
