body {
    background-color: #393a41;
    font-family: Verdana, sans-serif;
    color: #e9ecef;
}

#bgImage {
    background-image: url("./images/jeremy-bishop-8xznAGy4HcY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.centerBox {
    color: #e9ecef;
    font-weight: bold;
    border: 3px solid #e9ecef;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.orange {
    color: #e85d04;
}

.yellow {
    color: #ffb703;
}

#navBar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #2F2F2F;
    border-bottom: 2px solid #e85d04;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

#navBar > div {
    flex: 1;
    height: 50px;
    
}

#myName {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #e85d04;
    margin-top: 10px;
    position: relative;
}

#myName span{
    position: absolute;
    left: 20%;
}

#myName a:link {
    color: #e85d04;
    text-decoration: none;
}

#myName a:visited {
    color: #e85d04;
}

#myName a:hover {
    color: #ffb703;
}

#links {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menuItem {
    width: 25%;
    font-size: 20px;
    color: #e9ecef;
}

.menuItem a:link {
    color: #e9ecef;
    text-decoration: none;
}

.menuItem a:visited {
    color: #e9ecef;
}

.menuItem a:hover {
    color: #ffb703;
}

#container {
    padding: 10%;
}

#firstAboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#firstAboutMe > div {
    flex: 1;
}

#profilePicture {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    margin: 20px 0px 20px 100px;
}

#secondAboutMe {
    background-color: #2F2F2F;
}

#secondAboutMe > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#secondAboutMe span {
    padding: 20px;
    margin-right: 30px;
}

#thirdAboutMe {
    margin-top: 60px;
}

#thirdAboutMe > div {
    margin-top: 40px;
}

#experienceTitle span {
    font-size: 25px;
    margin-right: 20px;
}

#experienceTitle a {
    font-size: 20px;
}

#experienceTitle a:link {
    color: #e9ecef;
    text-decoration: none;
}

#experienceTitle a:visited {
    color: #e9ecef;
}

#experienceTitle a:hover {
    color: #ffb703;
}

.timePeriod {
    font-weight: bold;
}

#blogsHeader {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
}

#blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#blogs > article {
    width: 45%;
    border: 2px solid #e85d04;
    border-radius: 25px;
    margin: 20px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#blogs img {
    flex-shrink: 0;
    visibility: hidden;
    min-height: 100%;
    max-width: 100%;
}

#blogs div {
    position: absolute;
    border-radius: 25px;
    background: rgba(50, 50, 50, 0.7);
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    text-align: center;
}

#blogs div h2, #blogs div span {
    opacity: 1;
}

#blogs a:link {
    color: #e9ecef;
    text-decoration: none;
}

#blogs a:visited {
    color: #e9ecef;
}

#blogs a:hover {
    color: #ffb703;
}

#blogs div a:last-of-type{
    text-decoration: underline;
}

#blogPostHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#blogPostHead section:first-of-type {
    width: 40%;
}

#blogPostHead section:last-of-type {
    width: 50%;
}

#blogPostHead img {
    width: 100%;
}

#blogPostBody {
    text-align: justify;
}

#pet {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pet div {
    text-align: center;
}

#pet img {
    width: 60%;
}

@media screen and (max-width:1020px) {
    #blogs {
        font-size: 12px;
    }
}

@media screen and (max-width:800px) {
    #navBar {
        flex-direction: column;
    }

    #navBar > div {
        height: 30px;  
    }

    #myName {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    #myName span{
        position: static;
    }

    #links {
        margin-top: 10px;
        justify-content: space-around;
    }

    .menuItem {
        box-sizing: border-box;
        width: 20%;
        font-size: 15px;
        text-align: center;
    }

    #firstAboutMe {
        margin-top: 30px;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    #firstAboutMe > div:first-of-type {
        width: 80%;
        text-align: center;
    }

    #firstAboutMe div{
        font-size: 15px;
    }

    #profilePicture {
        width: 200px;
        height: 200px;
        margin: 20px;
    }
    
    #secondAboutMe > div {
        flex-direction: column;
        justify-content: center;
    }

    #secondAboutMe span {
        padding: 20px;
        margin-right: 10px;
        font-size: 12px;
        text-align: center;
    }

    #thirdAboutMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #thirdAboutMe > div {
        width: 80%;
        margin-top: 20px;
    }

    #thirdAboutMe h3, #thirdAboutMe h5, #thirdAboutMe span, #thirdAboutMe p, #thirdAboutMe ul {
        font-size: 15px;
    }

    #experienceTitle span, #experienceTitle a {
        font-size: 20px;
    }

    #blogsHeader {
        font-size: 10px;
    }

    #blogs > article {
        margin: 10px 0px;
    }

    #blogs > article div {
        width: 90%;
        height: 90%;
        left: 5%;
        top: 5%;
    }

    #blogPostHead {
        flex-direction: column;
        align-items: center;
        font-size: 15px;
    }
    
    #blogPostHead section:first-of-type {
        width: 80%;
        margin: 20px 0px;
        text-align: center;
    }
    
    #blogPostHead section:last-of-type {
        width: 80%;
    }
    
    #blogPostHead img {
        width: 100%;
    }
    
    #blogPostBody {
        font-size: 15px;
    }

    #pet {
        font-size: 12px;
        margin-top: 60px;
    }

    #pet img {
        width: 80%;
    }
}

@media screen and (max-width:700px) {
    #blogsHeader {
        margin-top: 50px;
    }

    #blogs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #blogs > article {
        width: 70%;
    }
}

@media screen and (max-width:460px) {
    #blogs {
        font-size: 10px;
    }

    #blogPostHead {
        font-size: 12px;
    }
    
    #blogPostHead section:first-of-type {
        margin: 40px 0px;
    }
    
    #blogPostBody {
        font-size: 10px;
    }
}

@media screen and (max-width:410px) {
    #navBar > div {
        height: 30px;  
    }

    #links {
        margin-top: 5px;
    }

    .menuItem {
        width: 25%;
        padding-left: 15px;
        font-size: 11px;
    }

    .centerBox {
        border: 1px solid #e9ecef;
        width: 80%;
        padding: 10px;
        font-size: 12px;
    }

    #firstAboutMe div{
        font-size: 12px;
    }

    #secondAboutMe span {
        padding: 10px;
        margin-right: 0px;
        font-size: 10px;
    }

    #thirdAboutMe h3, #thirdAboutMe h5, #thirdAboutMe span, #thirdAboutMe p, #thirdAboutMe ul {
        font-size: 12px;
    }

    #experienceTitle span, #experienceTitle a {
        font-size: 15px;
    }

    #blogsHeader {
        margin-top: 60px;
        font-size: 8px;
    }

    #blogs > article {
        width: 90%;
    }

    #pet {
        font-size: 8px;
    }
}

@media screen and (max-width:290px) {
    #blogs {
        font-size: 8px;
    }
}
